streamlit==1.44.0
reportlab==4.1.0
qrcode[pil]==7.4.2
pillow==10.3.0
numpy==1.26.4
opencv-python-headless==4.9.0.80
av==11.0.0
streamlit-webrtc==0.47.7
streamlit-camera-input-live==0.2.0
pandas
dash
dash-bootstrap-components